shiny
data.table
ggplot2
plotly
scales
shinydashboard
DT
colourpicker
RColorBrewer
shinyjs
viridis
rje
grDevices
grid
plyr
circlize
ComplexHeatmap
stats
gplots
reshape
rintrojs
RJSONIO
ggrepel
DESeq2
rjson
FactoMineR
factoextra
heatmaply
shinycssloaders
log4r
openssl
methods
R6
magrittr
zip
rmarkdown
testthat
vdiffr
stringi