r-base>=3.6.1
r-shiny
r-data.table
r-ggplot2
r-plotly
r-scales
r-shinydashboard
r-dt
r-colourpicker
r-RColorBrewer
r-shinyjs
r-viridis
r-rje
r-plyr
r-circlize
bioconductor-complexheatmap
r-gplots
r-reshape
r-rintrojs
r-webshot
r-rjsonio
r-ggrepel
bioconductor-deseq2
r-rjson
r-factominer
r-factoextra
r-heatmaply
r-shinythemes
r-shinycssloaders
r-log4r
r-openssl
r-r6
r-stringi
r-devtools
r-roxygen2
r-rmarkdown
r-testthat
r-vdiffr
qpdf
zip
r-shinywidgets
